.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    text-align: center;
    width: 100%;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.header img {
    width: 150px;
    height: 150px;
}

.header p {
    font-size: 48px;
}

.cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}

.card {
    width: 100%;
    padding: 5px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-content: center;
    border-radius: 5px;
    box-shadow: 0 1px 6px -2px #000;
    background-color: #FFF;
}

.card img {
    width: 150px;
    height: 150px;
    border-radius: 3px;
}

.name {
    width: 150px;
    margin: 0 auto;
    font-size: 2rem;
    padding: 5px;
}

p {
    width: 150px;
    margin: 0 auto;
    font-size: 1.5rem;
    padding: 5px;
}

.username {
    width: 150px;
    margin: 0 auto;
    font-size: 1.3rem;
    font-style: italic;
}